* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.done{
    color: gray;
    text-decoration: line-through;
}

.delete{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

#ToDoList{
    padding: 1%;
}