<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDoList</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <main id="app">
        <h1>
            ToDoList
        </h1>

        <hr>

        <ul id="ToDoList">
            <li v-for="(ListElements, index) in ToDoList" :class="ListElements.done == true ? 'done' : ''">
                {{ListElements.text}} <span class="delete" @click="deleteElement(index)">X</span>
            </li>
        </ul>
        
        <hr>

        <input type="text" v-model="NewElement.text">
        <button @click="addElement()">Nuovo Elemento</button>
    </main>

    <script src="js/script.js"></script>
</body>
</html>